<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <button onclick="appleEnquiry()">Apple Inc Enquiry</button>
        <script>
            function appleEnquiry(){
                window.open("https://43c6fde723a1aae650.gradio.live/","_blank");
            }
        </script>
        <form action="/main" method="post">
            <input type = "submit" value = "Main">
        </form>
    </div>
</body>