<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Financial Analysis Chatbot</h2>
        <form action="/roe" method="post">
            <input type = "submit" value = "What is RoE?">
        </form>
        <form action="/generalQuestion" method="post">
            <input type = "submit" value = "General Question">
        </form>
        <form action="/main" method="post">
            <input type = "submit" value = "Main">
        </form>
    </div>
</body>
